.welcome {
    .message {
	text-align: center;
    }
    .login-image {
	width: 100%;
	heigth: 100%;
    }
    .delivery-btn1-div {
	margin: -390px 0px 0px 10px;       
	position: absolute;
    }
    .delivery-btn2-div {
	margin: -50px 0px 0px 10px;       
	position: absolute;
    }
    .delivery-btn {
	width: 220px;
	opacity: 0;
    }
}
