// If you want to use the default color variables, import them here. If you want to change them, do not import, just override the values

// Font
$font-path: '~mamba-websdk/src/fonts/Roboto/';

// Icons
$mb-icons-path: '~mamba-websdk/src/icons/';

// Colors
// You can change the colors of the components just changing the color variables, for example:
// $primary-color:      $blue-grey;
// $primary-color-dark: $blue-grey-dark;
