@import '../../styles/custom-variables';

.payment {
    h1 {
	margin-top: 20px;
	color: #fff;
	font-size: 20px;
	text-align: center;
    }

    h4 {
	margin-left: 60px;
    }

    .welcome {
	margin: -300px 0px 0px 10px;       
	position: absolute;
	text-align: center;
    }

    .handshake-button {
	margin: -400px 0px 0px 0px;
	width: 220px;
	background: green;
    }

    .filipeta {
	display: block;
	width: 200px;
	height: 200px;
	margin: auto;
    }

    .background-img {
	margin-left: -20px;
	width: 260px;
	heigth: 320px;
    }
}
