@import '../../styles/custom-variables';

.payment {
    .authorize-button {
	width: 220px;
	background: "#a4dae7";
    }

    .valor-do-pedido {
	margin: -400px 0px 0px 0px;
	color: white;
    }

    .filipeta {
	display: block;
	width: 200px;
	height: 150px;
	margin: 0px 0px 0px 60px;
    }

    .border-bottom {
	border-bottom: 2px solid black;
    }
    
    .border-full {
	border: 2px solid black;
    }

    .black-background {
	background-color: black;
	color: white;
    }

    .text-center {
	text-align: center;
    }

    .bold {
	text-weight: bold;
    }

    .transparent {
	opacity: 0;
    }

    .background-img {
	margin-left: -20px;
	width: 260px;
	heigth: 320px;
    }
}
